body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.contest-link {
	font-weight:bold;
}

.achievement-link {
	font-weight:bold;
}

p.disabled  a {
	color: lightgray !important;
}

.tab-pane {
	margin-top: 20px;
}

.link-to-cf {
	font-size: 12pt;
}