{% load staticfiles %}

<script type="text/javascript" src="{% static 'data/common.js' %}" ></script>
<script type="text/javascript" src="{% static 'data/cf-api.js' %}" ></script>
<script type="text/javascript" src="{% static 'data/jquery.1.11.1.min.js' %}" ></script>

<script>
var known_contests = {{ contest_ids }};

function load() {
	getContests(contests_loaded, false);
}

function contests_loaded(contests) {
	var contest_to_load = undefined;
	
	$.each(contests, function(i, contest) {
		if ($.inArray(contest.id, known_contests) == -1 && contest.phase === contest_phase.finished) {
			contest_to_load = contest;
			return false;
		}
	});
	
	if (is_undefined(contest_to_load)) {
		$("input[name='id']").val(-1);
	} else {
		log(contest_to_load);
		$("input[name='id']").val(contest_to_load.id);
		$("input[name='name']").val(contest_to_load.name);
		$("input[name='startTime']").val(contest_to_load.startTimeSeconds);
	}
	
	$("#saveForm").submit();
}
</script>

<script>
$(document).ready(function(){
	load();
});
</script>

<form id="saveForm" action="{% url 'data:contests-save' %}" method="POST">
	{% csrf_token %}
	<input type="text" name="id" />
	<input type="text" name="name" />
	<input type="text" name="startTime" />
	<input type="submit" value="Save" />
</form>