{% load staticfiles %}

<script type="text/javascript" src="{% static 'data/common.js' %}" ></script>
<script type="text/javascript" src="{% static 'data/cf-api.js' %}" ></script>
<script type="text/javascript" src="{% static 'data/jquery.1.11.1.min.js' %}" ></script>

<script>

function groupBy(array, groupingFields) {
	var result = { };
	
	$.each(array, function (_, item) {
		var ptr = result;
		$.each(groupingFields, function (_, field) {
			var value = item[field];
			if (is_undefined(ptr[value]))
				ptr[value] = { };
			ptr = ptr[value];
		});
		if (is_undefined(ptr.items)) ptr.items = [];
		ptr.items.push(item);
	});
	
	return result;
}

var achievements = [];

function add_achievement(contestant, comment) {
	achievements.push( { handle : contestant, comment : comment } );
}

function contest_tag(contestId) {
	return "[contest:" + contestId + "]";
}

function user_tag(handle) {
	return "[user:" + handle + "]";
}

function calc_did_not_scratch_me() {
	var results = [];
	$.each(hacks, function (i, hack) {
		if (hack.hacker.members[0].handle == "tourist")
			if (hack.verdict === hack_verdict.unsuccessful || hack.verdict === hack_verdict.successful) {
				results.push( { defender: hack.defender.members[0].handle, 
								problem: hack.problem.index, 
								wasHacked: hack.verdict === hack_verdict.successful } );
			}
	});
	
	log(results);
	
	var groups = groupBy(results, ['defender', 'problem']);
	
	log(groups);
		
	for (var defender in groups) {
		for (var problem in groups[defender]) {
			var defended = false;
			$.each(groups[defender][problem].items, function (_, item) {
				if (item.wasHacked) {
					defended = false;
					return false;
				} else {
					defended = true;
				}
			});
			if (defended) {
				log(defender + " - " + problem);
				add_achievement(defender, "the successful defence of his problem " + problem + " from tourist during " + contest_tag(contestId));
			}
		}
	}
	finish();
}

function is_online_participant(party) {
	return party.participantType === participant_type.contestant ||
		   party.participantType === participant_type.out_of_competition;
}

function has_submissions_after(handle, problem, t) {
	for (var i = 0 ; i < submissions.length ; i++)
		if (is_online_participant(submissions[i].author))
		if (submissions[i].author.members[0].handle === handle)
		if (submissions[i].problem.index === problem)
		if (submissions[i].creationTimeSeconds > t)
			return true;
	return false;
}

function calc_peresvet() {
	var hacks_filtered = [];
	$.each(hacks, function (i, hack) {
		if (hack.verdict === hack_verdict.successful) {
			var item = {	handle1: hack.hacker.members[0].handle,
							handle2: hack.defender.members[0].handle,
							problem: hack.problem.index,
							swapped: false,
							time: hack.creationTimeSeconds };
			
			if (item.handle1 > item.handle2) { var tmp = item.handle1; item.handle1 = item.handle2; item.handle2 = tmp; item.swapped = true; }
			hacks_filtered.push(item);
		}
	});
	
	log(hacks_filtered);
	
	var hacks_grouped = groupBy(hacks_filtered, ['handle1', 'handle2', 'problem']);
	var peresvet_final_results = [];
	
	for (var handle1 in hacks_grouped)
		for (var handle2 in hacks_grouped[handle1])
			for (var problem in hacks_grouped[handle1][handle2]) {
				var t = hacks_grouped[handle1][handle2][problem].items[0].time;
				var hackedForward = false;
				var hackedBack = false;
				$.each(hacks_grouped[handle1][handle2][problem].items, function (_, item) {
					if (item.swapped) hackedBack = true;
					else hackedForward = true;
					t = Math.min(t, item.time);
				});
				
				if (!hackedBack || !hackedForward) continue;
				
				if (has_submissions_after(handle1, problem, t) ||
					has_submissions_after(handle2, problem, t)) continue;
				
				log(handle1 + " " + handle2 + " " + t);
				
				add_achievement(handle1, "the successful mutual hack with " + user_tag(handle2) + " on " + problem + " problem in " + contest_tag(contestId));
				add_achievement(handle2, "the successful mutual hack with " + user_tag(handle1) + " on " + problem + " problem in " + contest_tag(contestId));
			}
	finish();
}

var current_loader = {
	did_not_scratch_me: { func: calc_did_not_scratch_me		, need_hacks: true,		need_standings: false	, need_submissions: false	},
	peresvet: 			{ func: calc_peresvet				, need_hacks: true,		need_standings: true	, need_submissions: true	},
}.{{loader_name}};

var contestId;
var achievementId;

var hacks;
var standings;
var submissions;

function load() {
	contestId = $("input[name='contestId']").val();
	achievementId = $("input[name='achievementId']").val();
		
	proceed_loading();
}

function proceed_loading() {
	if (current_loader.need_hacks && is_undefined(hacks))
		getHacks(function (h) { hacks = h; proceed_loading(); }, contestId);
	else if (current_loader.need_standings && is_undefined(standings))
		getFullStandings(function (res) { standings = res; proceed_loading(); }, contestId);
	else if (current_loader.need_submissions && is_undefined(submissions))
		getSubmissions(function (res) { submissions = res; proceed_loading(); }, contestId);
	else current_loader.func();
}

function finish() {
	var achievementsJson = JSON.stringify(achievements);
	$("textarea[name='resultData']").val(achievementsJson);
	if (!is_debug()) $("#saveForm").submit();
}

</script>

<script>
$(document).ready(load);
</script>

<form id="saveForm" method="POST" action="{% url 'data:save-contest-achievement' %}">
	{% csrf_token %}
	<input type="text" name="contestId" value="{{ contestId }}" /> <br />
	<input type="text" name="achievementId" value="{{ achievementId }}" /> <br />

	<textarea type="text" name="resultData" style="width:1000px; height:200px;"></textarea> <br />
	<input type="submit" value="Save" />
	
</form>