{% load staticfiles %}

<script type="text/javascript" src="{% static 'data/common.js' %}" ></script>
<script type="text/javascript" src="{% static 'data/cf-api.js' %}" ></script>
<script type="text/javascript" src="{% static 'data/helpers.js' %}" ></script>
<script type="text/javascript" src="{% static 'data/underscore-min.js' %}" ></script>
<script type="text/javascript" src="{% static 'data/jquery.1.11.1.min.js' %}" ></script>

<script>
var need_hacks = false;
var need_standings = false;
var need_submissions = false;
</script>

<script type="text/javascript" src="{% static 'data/achievement-calculators/' %}{{loader_name}}.js" ></script>

<script>

var achievements = [];

function add_achievement(contestant, comment, level) {
	var achievement = { handle : contestant, comment : comment };
	if (!is_undefined(level)) achievement.level = level;
	achievements.push( achievement );
}

function has_submissions_after(handle, problem, t) {
	for (var i = 0 ; i < submissions.length ; i++)
		if (is_online_participant(submissions[i].author))
		if (submissions[i].author.members[0].handle === handle)
		if (submissions[i].problem.index === problem)
		if (submissions[i].creationTimeSeconds > t)
			return true;
	return false;
}

var contestId;
var achievementId;

var hacks;
var standings;
var submissions;

function load() {
	contestId = $("input[name='contestId']").val();
	achievementId = $("input[name='achievementId']").val();
		
	proceed_loading();
}

function proceed_loading() {
	if (!is_undefined(need_hacks) && need_hacks && is_undefined(hacks))
		getHacks(function (h) { hacks = h; proceed_loading(); }, contestId);
	else if (!is_undefined(need_standings) && need_standings && is_undefined(standings))
		getFullStandings(function (res) { standings = res; proceed_loading(); }, contestId);
	else if (need_submissions && is_undefined(submissions))
		getSubmissions(function (res) { submissions = res; proceed_loading(); }, contestId);
	else achievement_calculator(finish);
}

function finish() {
	var achievementsJson = JSON.stringify(achievements);
	$("textarea[name='resultData']").val(achievementsJson);
	if (!is_debug()) $("#saveForm").submit();
}

</script>

<script>
$(document).ready(load);
</script>

<form id="saveForm" method="POST" action="{% url 'data:save-contest-achievement' %}">
	{% csrf_token %}
	<input type="text" name="contestId" value="{{ contestId }}" /> <br />
	<input type="text" name="achievementId" value="{{ achievementId }}" /> <br />

	<textarea type="text" name="resultData" style="width:1000px; height:200px;"></textarea> <br />
	<input type="submit" value="Save" />
	
</form>