{% extends 'achievements/base.html' %}
{% load template_filters %}

---------------

{% block header %}
<h2>Codeforces achievements</h2>
<h3>Did something cool on Codeforces? Get your reward here!</h3>
{% endblock %}

---------------

{% block content %}

<ul class="nav nav-pills" role="tablist">
	<li class="active"><a href="#by_date" role="tab" data-toggle="pill">Latest rewards</a></li>
	<li><a href="#achievements" role="tab" data-toggle="pill">List of achievements</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="by_date">

{% if last_achievements %}
    <ul>
    {% for rewarding in last_achievements %}
        <li>
			{{ rewarding.date }}:
			{{ rewarding.participant|to_user_link }}
			got {{ rewarding.achievement|to_achievement_link }}
			for {{ rewarding.comment|replace_tags }}
		</li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no achievements here yet.</p>
{% endif %}

	</div>

	<div class="tab-pane" id="achievements">
	{% for achievement in achievements %}
		<p> {{ achievement|to_achievement_link }} &mdash; {{ achievement.total }} rewards
		</p>
	{% endfor %}
	</div>
</div>

{% endblock %}